* {
  margin: 0;
}
.makeAdmin {
  background: #f4f7fc;
  width: 100%;
  height: 100vh;
}
.manageServices {
  background: #f4f7fc;
  width: 100%;
  height: 100vh;
}
.addService {
  background: #f4f7fc;
  width: 100%;
  height: 100vh;
}
.btnPending {
  background-color: #ffe3e3;
  color: #ff4545;
}
.btnDone {
  background-color: #c6ffe0;
  color: #009444;
}
.btnOnGoing {
  background-color: #ffbd3e;
}
@media screen and (max-width: 1230px) {
  .fromSection {
    width: 100%;
    height: 100%;
  }
}
.orderList {
  background: #f4f7fc;
  width: 100%;
  height: 100vh;
}
